/******** FONT FACES ********/

@font-face {
  font-family: "nyt-imperial";
  src: url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-700.796334d8a16a55d6fa9e4cbf896ac9de.woff2")
      format("woff2"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-700.a9670f80042b4daa8a7f0a8e58cd856a.woff")
      format("woff"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-700.b41c6e33cfd281d679e8586dfd1b7a9e.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-300.bc7be4c5d8cacb780f896c5cbe0c0d7f.woff2")
      format("woff2"),
    url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-300.173315ff36fdf628bbfbabac0c03a76d.woff")
      format("woff"),
    url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-300.d1bf0bccfda41b1a77ea392b7a26d4cf.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.2531995fefd3b997f9c4d564ebe89268.woff2")
      format("woff2"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.e4d8bd522cfcbc36c1b2368baeb54c32.woff")
      format("woff"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.a5270edf37ca346207a3a6ff637a022a.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.b44c88f09ca7ce914b836d4ae72891b8.woff2")
      format("woff2"),
    url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.a192db310935d8a882832e2cc83f2119.woff")
      format("woff"),
    url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.aaec3c198ea6e3efd97b2b19823bf861.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("https://g1.nyt.com/fonts/family/imperial/imperial-italic-700.40b02b2fba5d4f5436bd57340ad293f7.woff2")
      format("woff2"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-italic-700.7b30b8422b09c02ff3d388f0fa5c7723.woff")
      format("woff"),
    url("https://g1.nyt.com/fonts/family/imperial/imperial-italic-700.7a49706be9639a50e964794d84e2b03d.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
/********* TAGS  *************/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header,
.top_of_article,
.unlock_more,
.tile,
.story_footer {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin: 100px auto 0 auto;
  /* width: 90%; */
}

header {
  padding-top: 5px;
  width: 100%;
  position: fixed;
  height: 37px;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

.left_header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.space_cosmos {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 700;
  font-family: "nyt-franklin", sans-serif;
}

.right_header {
  float: right;
  margin-right: 20px;
}

header svg {
  left: calc(50% - 50px);
  height: 26.5px;
}

header button {
  background-color: inherit;
  border: none;
}

header i {
  font-size: 0.6rem;
}

.content_center {
  width: 600px;
  margin: 0 auto;
}

.right_container {
  display: inline-block;
  float: right;
  height: 100%;
  min-width: 33%;
  max-width: calc(50% - 195px);
}

.middle_container {
  display: inline-block;
  min-width: 195px;
  height: 100%;
}

.left_container {
  display: inline-block;
  height: 100%;
  float: left;
  width: calc(50% - 79.5px);
}

.right_header button {
  height: 32px;
  padding: 12px 12px 12px 12px;
  background-color: #567b95;
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 5px;
  text-transform: uppercase;
  font-size: 0.7em;
}

ul {
  margin: 0;
  text-align: right;
  float: right;
  height: 27px;
  list-style-type: none;
}

li {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #eee;
}

.date_and_actions {
  padding-top: 20px;
  height: 37px;
}

h1 {
  margin-top: 70px;
  line-height: 1.5;
  font-size: 2.1rem;
  padding-left: 30%;
  font-style: italic;
}

.content p {
  color: rgb(51, 51, 51);
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: nyt-imperial, serif;
}

.unlock_more {
  margin: 0 auto;
  width: 600px;
  height: 76px;
  font-size: 0.6rem;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.unlock_more_text {
  position: relative;
  top: 17px;
}

/********* CLASSES ***********/
main {
  width: 90%;
  margin: 0 auto;
}

.main_image {
  width: 80%;
  margin: 0 auto;
}

.main_image_caption {
  width: 70%;
}

.caption {
  color: rgb(102, 102, 102);
}

.author {
  color: rgb(136, 136, 136);
}

.main_image img {
  max-width: 100%;
}

time {
  line-height: 40px;
  font-size: 0.8em;
  color: grey;
}

h6 {
  margin: 40px 0 0 0;
}
a:hover,
a:link,
a:visited,
h6 {
  font-size: 0.9rem;
  color: black;
  color: rgb(51, 51, 51);
}

.bottom_of_article svg {
  width: 27px;
  height: 27px;
}

.container {
  margin: 0 auto;
}

.content {
  background-color: rgb(240, 240, 240);
}

.aside {
  position: relative;
  bottom: 115px;
  float: right;
  height: 321px;
  width: 210px;
  background-color: blue;
}

title {
  font-family: "nyt-imperial", serif;
  font-weight: 700;
}

.infographic_container {
  margin: 0 auto;
  width: 945px;
}

.infographic {
  background-image: url(/resources/inflation-945.png);
  background-size: cover;
  margin: 0 auto;
  height: 576px;
  width: 100%;
}

.infographic_container h5 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.25rem;
}

.empty_row {
  z-index: 100;
  background-color: rgba(255, 0 0, 120);
  width: 100%;
  height: 135px;
  display: inline-block;
}

.infographic_container .caption {
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.cell {
  margin: 0;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  z-index: 100;
  height: 150px;
  display: inline-block;
  width: 233px;
  vertical-align: middle;
  font-family: nyt-franlin, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

.cell p {
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.cell p span {
  font-weight: 700;
  margin-right: 5px;
  font-size: 0.7rem;
  color: black;
}

.line {
  margin-top: 30px;
  width: 80px;
  height: 7px;
  border-bottom: 1px solid black;
  /* position: absolute; */
}

.infographic_container footer {
  margin-top: 15px;
  color: rgb(51, 51, 51);
  font-size: 0.8em;
}
