/********* TAGS  *************/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  width: 95%;
  margin: 0 auto;
  margin: 100px auto 0 auto;
}

header,
.top_of_article,
.unlock_more,
.tile,
.story_footer {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding-top: 5px;
  width: 100%;
  position: fixed;
  height: 37px;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

iframe {
  width: 600px;
  height: 335px;
}

.left_header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.space_cosmos {
  text-transform: uppercase;
}

.small_title {
  font-weight: 700;
  font-family: "nyt-franklin", sans-serif;
  vertical-align: middle;
  font-size: 1.2rem;
}

.right_header {
  float: right;
  margin-right: 20px;
}

header svg {
  left: calc(50% - 50px);
  height: 26.5px;
}

header button {
  background-color: inherit;
  border: none;
}

header i {
  font-size: 0.6rem;
}

.content_center {
  width: 600px;
  margin: 0 auto;
}

.right_container {
  display: inline-block;
  float: right;
  height: 100%;
  min-width: 33%;
  max-width: calc(50% - 195px);
}

.middle_container {
  display: inline-block;
  min-width: 195px;
  height: 100%;
}

.left_container {
  display: inline-block;
  height: 100%;
  float: left;
  width: calc(50% - 79.5px);
}

.right_header button {
  height: 32px;
  padding: 12px 12px 12px 12px;
  background-color: #567b95;
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 5px;
  text-transform: uppercase;
  font-size: 0.7em;
}

ul {
  margin: 0;
  text-align: right;
  float: right;
  height: 27px;
  list-style-type: none;
}

li {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #eee;
}

.date_and_actions {
  padding-top: 20px;
  height: 37px;
}

h1 {
  margin-top: 70px;
  line-height: 1.5;
  font-size: 2.1rem;
  padding-left: 30%;
  font-style: italic;
}

.content p {
  color: rgb(51, 51, 51);
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: nyt-imperial, serif;
}

.unlock_more {
  margin: 0 auto;
  width: 600px;
  height: 76px;
  font-size: 0.6rem;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.unlock_more_text {
  position: relative;
  top: 17px;
}

/********* CLASSES ***********/

.main_image {
  width: 80%;
  margin: 0 auto;
}

.main_image_caption {
  width: 70%;
}

article > h2 {
  display: none;
}

.caption {
  color: rgb(102, 102, 102);
}

.author {
  color: rgb(136, 136, 136);
}

.main_image img {
  max-width: 100%;
}

time {
  line-height: 40px;
  font-size: 0.8em;
  color: grey;
}

h6 {
  margin: 40px 0 0 0;
}
a:hover,
a:link,
a:visited,
h6 {
  font-size: 0.9rem;
  color: black;
  color: rgb(51, 51, 51);
}

.bottom_of_article svg {
  width: 27px;
  height: 27px;
}

.container {
  margin: 0 auto;
}

.aside {
  position: relative;
  bottom: 115px;
  float: right;
  height: 321px;
  width: 210px;
  background-color: blue;
}

title {
  font-family: "nyt-imperial", serif;
  font-weight: 700;
}

.infographic_container {
  margin: 0 auto;
  width: 945px;
}

.infographic {
  background-image: url(/resources/inflation-945.png);
  background-size: cover;
  margin: 0 auto;
  height: 576px;
  width: 100%;
}

.infographic_container h5 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.25rem;
}

.empty_row {
  z-index: 100;
  background-color: rgba(255, 0 0, 120);
  width: 100%;
  height: 135px;
  display: inline-block;
}

.infographic_container .caption {
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.cell {
  margin: 0;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  z-index: 100;
  height: 150px;
  display: inline-block;
  width: 233px;
  vertical-align: middle;
  font-family: nyt-franlin, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

.cell p {
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.cell p span {
  font-weight: 700;
  margin-right: 5px;
  font-size: 0.7rem;
  color: black;
}

.line {
  margin-top: 30px;
  width: 80px;
  height: 7px;
  border-bottom: 1px solid black;
  /* position: absolute; */
}

.infographic_container footer {
  margin-top: 15px;
  color: rgb(51, 51, 51);
  font-size: 0.8em;
}

.img_container {
  margin: 0 auto;
  width: 720px;
}

.secondary_image {
  max-width: 100%;
}

.legal {
  color: rgb(102, 102, 102);
  font-size: 0.7rem;
}

.legal a {
  font-size: 0.7rem;
}

.legal a:hover {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.legal a:link {
  color: rgb(102, 102, 102);
}

.legal a:visited {
  color: rgb(102, 102, 102);
}

.bottom_of_article button {
  background-color: #567b95;
  padding: 8px 70px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.related_news {
  margin: 100px auto 0 auto;
  height: 1000px;
  width: 100%;
  background-color: sandybrown;
}

.more_in,
.editors_picks_bottom,
.most_popular {
  border-top: 1px solid black;
}

.more_in {
  margin: 0 auto;
  float: left;
}

.related_news_title {
  width: 100%;
  height: 40px;
  line-height: 400%;
}

.related_news_title a {
  font-size: 0.9rem;
  font-kerning: auto;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.more_in_row {
  width: 100%;
}

.related_news_title:hover {
  text-decoration: underline;
}

.editors_picks_bottom {
  margin: 25px auto 0 auto;
  float: left;
}

.more_in,
.editors_picks_bottom {
  width: 72%;
}

.most_popular {
  float: right;
  height: 100%;
  width: 26%;
  color: rgb(51, 51, 51);
  /* background-color: red; */
}

.most_popular > * {
  padding: 15px 0;
}

.most_popular a {
  font-size: inherit;
  text-decoration: inherit;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltelnham, Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  margin: auto;
}

.most_popular a:hover {
  color: rgb(102, 102, 102);
}

.popular_line {
  border-top: 1px solid rgb(136, 136, 136);
  margin: 0;
}

.img_container_related {
  width: 100%;
  margin: 0 auto;
}

.related_img {
  max-width: 100%;
  height: auto;
}

.more_in_cell {
  margin-top: 20px;
  vertical-align: top;
  /* background-color: coral; */
  display: inline-block;
  width: 33%;
}

.more_in_cell h3 {
  font-family: "nyt-cheltenham";
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0;
}

.more_in_cell span {
  font-size: 0.8rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: grey;
}

.clear {
  clear: both;
}

footer {
  height: 300px;
  margin: 0 auto;
  width: 95%;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}

.nyt_navigation {
  height: 600px;
  /* background-color: red; */
  width: 100%;
}

.nyt_navigation_logo {
  margin-top: 40px;
  height: 44px;
  border-top: 3px double #ccc;
  width: 100%;
}

.nyt_navigation_logo svg {
  float:left;
  width: 184px;
  height: 100%;
  }

.nyt_navigation_logo a {
  float: right;
  font-size: 0.7rem;
  color: rgb(86,123,149);
  text-decoration: none;
  padding-top: 22px;
}

.column {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  line-height: 2;
}

.column a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: black;

}

.column a:hover {
  text-decoration: underline;
}

.column .small_title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(51, 51, 51);
}

.last_column {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}